<h1>New Animal</h1>

<% form_for(@animal) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :certificate_id %>
    <%= f.text_field :certificate_id  %>
  </p>
  <p>
    <%= f.label :national_id %><br />
    <%= f.text_field :national_id %>
  </p>
  <p>
    <%= f.label :alternate_tag %><br />
    <%= f.text_field :alternate_tag %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<br/>

<%= link_to 'Back to Certificates', certificates_path %>

